/* Primary */
/* Neutral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

main {
  height: 120vh;
  display: flex;
  flex-direction: row-reverse;
}
main .image {
  min-width: 550px;
  height: 700px;
}
main .content {
  width: 800px;
  padding-top: 80px;
  padding-left: 150px;
  background: url(../images/bg-pattern-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .content .title {
  margin-top: 100px;
  letter-spacing: 20px;
}
main .content .title h1 {
  font-size: 4rem;
  padding-right: 200px;
  text-transform: uppercase;
  color: #413a3a;
}
main .content .title h1 span {
  display: block;
  font-weight: 300;
  color: #ce9797;
}
main .text {
  color: #ce9797;
  padding-right: 200px;
  line-height: 30px;
  margin-top: 20px;
}
main .form {
  margin-top: 40px;
  position: relative;
}

input {
  width: 410px;
  height: 50px;
  border-radius: 50px;
  padding-left: 30px;
  outline: none;
  border: 1px solid #cfc9c9;
}

::placeholder {
  color: #cfc9c9;
}

.btn {
  width: 90px;
  height: 50px;
  border-radius: 50px;
  outline: none;
  border: 1px solid #ce9797;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  position: absolute;
  margin-left: -50px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background: #f8bfbf;
  box-shadow: 3px 3px 3px 3px rgba(249, 98, 98, 0.25);
}

.error-input {
  border: 1px solid #f96262;
  background: url(../images/icon-error.svg);
  background-position: 80% center;
  background-repeat: no-repeat;
}

.error, .check {
  padding-top: 10px;
  padding-left: 25px;
  font-size: 0.8rem;
  font-weight: 700;
  color: #f96262;
  display: none;
}

.check {
  color: lightgreen;
}

.error-block {
  display: block;
}

.mobile {
  display: none;
}

.info {
  margin-top: 80px;
}

@media (max-width: 600px) {
  * {
    margin: 0 !important;
    padding: 0 !important;
  }

  main {
    flex-direction: column;
    max-width: 375px;
    overflow-x: hidden;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    margin-top: 100px !important;
  }

  .content {
    margin: 0;
    max-width: 375px !important;
    margin-top: 70px !important;
  }
  .content h1 {
    font-size: 3rem !important;
    letter-spacing: 10px;
    text-align: center;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 30px !important;
    padding-left: 30px !important;
  }

  .title h1 {
    font-size: 1rem;
  }

  .text {
    font-size: 0.9rem;
    padding: 0 25px !important;
    text-align: center;
    line-height: 20px !important;
    margin-top: 20px !important;
  }

  .form {
    display: flex;
    justify-content: center;
    margin-top: 30px !important;
  }
  .form input {
    width: 330px;
    padding-left: 30px !important;
    background-position: 70%;
  }
  .form button {
    width: 70px;
    margin-left: -70px !important;
  }

  .error, .check {
    margin-top: 10px !important;
    margin-left: 25px !important;
  }

  .info {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
